body {
  margin: 0;
  padding: 0;
  background-color: #dfe4e8;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 320px;
  background: white;
  border: 2px solid #c8d1d8;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.tags {
  margin-top: 15px;
}

.tag {
  display: inline -block;
  padding: 6px 14px;
  border: 1px solid #d8d8d8;
  border-radius: 20px;
  color: gray;
  font-size: 14px;
  margin-right: 8px;
}
h1 {
  font-size: 34px;
  color: #1f2b3a;
  margin: 18px 0 15px;
}

p {
  color: #8c95a3;
  font-size: 18px;
  line-height: 1.6;
}

button {
  display: block;
  margin: 50px auto;
  background-color: rgb(144, 173, 228);
  border: none;
  border-radius: 25px;
  padding: 10px;
  width: 50%;
  color: blue;
}


